

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
  max-height: 5rem;
  pointer-events: none;
  z-index: 3000;


  &__logo {
    display: block;
    max-width: 30%;
    @include respond(phone){
      visibility: hidden;
    }
  }
  &__img {
    max-height: 80%;
    padding-left: 1.7rem;
  }
  &__links {
    display: block;

    @include respond(phone){
      display: none;
      visibility: hidden;
    }
  }
  &__mobile {
    display: none;
    visibility:hidden;
    width: 4.5rem;
    height: 4.5rem;
    background-image: linear-gradient(rgba($color-white, .3) 30%, $color-gray-2);
    background-color: rgb(17, 17, 17);
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 5px;
    box-shadow: 1px 6px .5rem rgba($color-black, .5);
    cursor: pointer;
    z-index: 4000;

    

    &--btn {
      &::before {
        display: inline-block;
        height: 5px;
        width: 32px;
        background: $color-white;
        content: '';
        transform: translateY(-36px);
      }
      &::after {
        display: inline-block;
        height: 5px;
        width: 32px;
        background: $color-white;
        content: '';
        transform: translateY(-86px);
      }
      position: relative;
      display: inline-block;
      height: 5px;
      width: 32px;
      background: $color-white;
      content: '';
      pointer-events: all;
    }
    
    

    @include respond(phone){
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
      font-size: 3rem;

    }
  }
}


.nav {
  &-links {
    display: inline-block;
    list-style-type: none;
    font-size: 1.4rem;
    color: $color-orange;
    pointer-events: all;

  }
  &-link {
    &__link {
      transition: all 0.3s ease-in-out;
      display: inline;
      text-shadow: 1px 2px 2px rgba($color-black, .9);

      &:link,
      &:active,
      &:visited {
        color: $color-orange;
        text-decoration: none;
      }
      &:hover {
        color: transparent;
        background-image: linear-gradient(
          to bottom,
          $color-orange 25%,
          $color-white
        );
        padding-bottom: 0.5rem;
        border-bottom: $color-orange 0.5rem solid;
        -webkit-background-clip: text;
        background-clip: text;
        transform: translateX(-10%);
        text-shadow: none;
      }
    }

    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.5rem 0.5rem;
    margin-right: 1rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}