.stacks {
  // display: table;
  width: 100%;
  column-count: 4;
  column-gap: 1.5rem;
  @include respond(tab-land){
    column-count: 3;
    -webkit-column-gap: 1.4rem;
    column-gap: 1.4rem;   
  }
  @include respond(tab-port){
    -webkit-column-gap: .5rem;
    column-gap: .5rem;
  }
  @include respond(phone){
    column-count:initial;
  }

  &__item {
    display: inline-block;
    border-top: $color-orange-light .3rem solid;
    border-left: $color-orange-light .3rem solid;
    border-right:$color-orange-light .4rem solid;
    border-bottom:$color-orange-light .4rem solid;
    padding: 1rem 2.5rem;
    margin: 0.5rem 1rem;
    width: 7rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(
      to bottom,
      rgba($color-aqua-blue-dark, 0.7),
      rgba($color-aqua-blue-light, 0.7)
    );
    transition: all .4s;
    &:hover {
      transform: translateY(-5px);
    }

    @include respond(desktop){
      width: 100%;
      padding: .75rem 0;
    }
    @include respond(tab-port){
      width: 80%;
      margin: 1rem 0;
    }
    @include respond(phone){
      display: block;
      width: 100%;
      margin: 1rem 0;
      padding: 1rem 0;
    }
    
  }
}