// VARIABLES

$color-black: #000;
$color-white: #fff;

$color-gray: #c0c0c0;
$color-gray-2: #333;
$color-gray-3: #666;
$color-gray-4: #999;

$color-aqua-blue: #09d4d9;
$color-aqua-blue-dark: #0a898b;
$color-aqua-blue-light: #05fbff;

$color-orange: #ff7824;
$color-orange-dark: #da5b0c;
$color-orange-light: #ff9858;

// Grid Variables
$grid-width: 119rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
//Responsive grid variables
$gutter-vertical-sm: 3rem;
$gutter-horizontal-md: 4rem;
$gutter-horizontal-sm: 2rem;


//font-sizes
$default-font: 1.6rem;