// VARIABLES

$color-black: #000;
$color-white: #fff;

$color-gray: #c0c0c0;
$color-gray-2: #333;
$color-gray-3: #666;
$color-gray-4: #999;

$color-aqua-blue: #09d4d9;
$color-aqua-blue-dark: #0a898b;
$color-aqua-blue-light: #05fbff;

$color-orange: #ff7824;
$color-orange-dark: #da5b0c;
$color-orange-light: #ff9858;

// Grid Variables
$grid-width: 119rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
//Responsive grid variables
$gutter-vertical-sm: 3rem;
$gutter-horizontal-md: 4rem;
$gutter-horizontal-sm: 2rem;


//font-sizes
$default-font: 1.6rem;

// MIXINS
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin gradient-font($color1, $color2) {
  display: inline-block;
  background-image: linear-gradient(to right, $color1, $color2);
  -webkit-background-clip: text;
  color: transparent;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/* 

  0-600px         Phones
  600-900px       Tablet Portrait
  900-1200px      Tablet Landscape
  [1200-1800px]   Normal Desktop
  1800px +        Large Desktop

  $breakpoints arguments
  -phone
  -tab-port
  -tab-land
  -big-desktop

  Order  Base + Typograpgy, > general layout + grid > page layout > components

*/

@mixin respond($breakpoint) {
  // Dont use pixels, use a responsive design method
  // use EM for responsive design, based off users font size (browser)
  // 1 EM = 16px

  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900 px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200 px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800 px
      @content;
    }
  }
}

// UTILITIES
.txt-center {
  text-align: center;
}
.pb-sm {
  padding-bottom: 2rem;
}
.pb-md {
  padding-bottom: 4rem;
}
.pb-lg {
  padding-bottom: 6rem;
}
.pt-sm {
  padding-top: 2rem;
}
.pt-md {
  padding-top: 4rem;
}
.pt-lg {
  padding-top: 6rem;
}
.content {
  font-size: $default-font;
  line-height: 2.4rem;
}
.highlight {
  color: $color-aqua-blue;
  font-weight: 600;
  padding: 0 0.5rem;
}

.alert {
  width: 80%;
  display: block;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
  min-height: 5rem;
  color: $color-white;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.2rem 2rem;

  &-error {
    background-image: linear-gradient(to bottom, rgba($color-white, .3) 15%, transparent);
    background-color: rgb(218, 8, 8);
  }
  &-warn {
    background-image: linear-gradient(to bottom, rgba($color-white, .3) 15%, transparent);
    background-color: rgb(220, 255, 21);
  }
  &-success {
    background-image: linear-gradient(to bottom, rgba($color-white, .3) 15%, transparent);
    background-color: rgb(0, 221, 11);
  }

}



// MAIN CSS

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // font-family: 'Impact';
  font-size: 62.5%; // 1 rem = 10px
}
body {
  font-family: 'Lato', Verdana, sans-serif;
  color: $color-white;
}


.socialBar {
  width: auto;
  height: 10rem;
  position: fixed;
  bottom: 5%;
  left: 3%;

  &__vertical {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 10rem;
    background-color: rgba($color-aqua-blue, .5);
  }

  &__show {
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%)
  }
}


.header {
  position: relative;
}
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.8) 80%,
      rgba($color-gray-3, 0.8)
    ),
    url(@/assets/img/hero.jpg);
  background-size: cover;
  background-position: center top;
  background-color: $color-black; // fallback
  min-height: 100vh;
  display: block;
  width: 100%;
  position: relative;
  color: $color-aqua-blue;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: block;

  &-btn {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
  max-height: 5rem;
  pointer-events: none;

  &__logo {
    display: block;
    max-width: 30%;
  }
  &__img {
    max-height: 80%;
    padding-left: 1.7rem;
  }
  &__links {
    display: block;
  }
  z-index: 3000;
}
.nav {
  &-links {
    display: inline-block;
    list-style-type: none;
    font-size: 1.4rem;
    color: $color-orange;
  }
  &-link {
    &__link {
      transition: all 0.3s ease-in-out;
      display: inline;
      &:link,
      &:active,
      &:visited {
        color: $color-orange;
        text-decoration: none;
      }
      &:hover {
        color: transparent;
        background-image: linear-gradient(
          to bottom,
          $color-orange 25%,
          $color-white
        );
        padding-bottom: 0.5rem;
        border-bottom: $color-orange 0.5rem solid;
        background-clip: text;
        transform: translateX(-10%);
      }
    }

    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.5rem 0.5rem;
    margin-right: 1rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

a {
  color: inherit;
  &:link, &:visited, &:active{
    text-decoration: none;
    font-weight: 600;
    transition: all .3s ease-in-out;
    // text-transform: uppercase;
  } 
  &:hover{
    padding-bottom: 2px;
    border-bottom:$color-aqua-blue-dark 3px solid;

  }
}

.h1 {
  font-size: 6rem;
  font-weight: 600;
  display: block;
  padding: 2rem 0;

  &--sm {
    color: $color-white;
    font-size: 2rem;
    display: block;
    padding: 2rem 0;
  }
}
.h2 {
  font-size: 4rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;

  &--blue {
    @include gradient-font($color-aqua-blue-light, $color-aqua-blue-dark);
    border-bottom: 3px solid $color-aqua-blue;
  }
  &--orange {
    @include gradient-font($color-orange-light, $color-orange-dark);
    border-bottom: 3px solid $color-orange;
  }
}

//  Button Styles

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    // Change for button element

    border: none;
    cursor: pointer;
  }
  //HOVER & NESTING
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* X, Y, BLURR, COLOUR*/

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  // ENd hOVER AND NESTING

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2); /* X, Y, BLURR, COLOUR   Gives button a "depressed" look */
  }

  &-orange {
    color: $color-white;
    background-image: linear-gradient(to bottom right, rgba($color-white, 0.4));
    background-color: $color-orange;

    &::after {
      background-color: $color-orange;
    }
  }

  &-white {
    color: $color-orange;
    background-image: linear-gradient(to bottom right, rgba(darken($color-white, 25%), 0.4));
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }

  }
  &-blue {
    color: $color-white;
    background-image: linear-gradient(to bottom right, rgba(darken($color-aqua-blue-light, 25%), 0.4));
    background-color: $color-aqua-blue-dark;

    &::after {
      background-color: $color-aqua-blue-dark;
    }
  }

  &::after {
    /* hidden element behind button */

    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; /* Transition has to be on Initial State  */
  }

  &-social {
  
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 2px 4px;
      display: inline-block;
      height: 10px;
      border-radius: 3px;
      transition: all 0.2s;
      position: relative;
      font-size: 5rem;
      // Change for button element

      border: none;
      cursor: pointer;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1px 2px rgba($color-black, 0.2); /* X, Y, BLURR, COLOUR*/
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
}

.main {
  background-color: rgb(27, 27, 27);
  padding-top: 15rem;
  margin-top: -7.5rem;
}

// ABOUT ME STYLES
.about {
  position: relative;
  // display: block;
  padding: 8rem 0;

  &-heading {
    display: block;
  }
}
.stacks {
  // display: table;
  width: 100%;
  column-count: 4;
  column-gap: 1.5rem;

  &__item {
    display: inline-block;
    border-top: $color-orange-light .3rem solid;
    border-left: $color-orange-light .3rem solid;
    border-right:$color-orange-light .4rem solid;
    border-bottom:$color-orange-light .4rem solid;
    padding: 1rem 2.5rem;
    margin: 0.5rem 1rem;
    width: 7rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(
      to bottom,
      rgba($color-aqua-blue-dark, 0.7),
      rgba($color-aqua-blue-light, 0.7)
    );
    transition: all .4s;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.bootcamp {
  font-size: $default-font;
  // opacity: 0;
  // animation: fadeIn 2s;
  transition: all .4s;


  &__card {
    position: relative;
    width: 24%;
    // padding: 1.5rem;
    margin-top: 2.5rem;
    max-width: 30rem;
    min-height: 30rem;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .3);
    border-radius: 1.5rem;
    overflow: hidden;
    display: inline-block;
    background-color: $color-white;
    &:not(:last-child){
      margin-right: 1.5rem;
    }
  }
  &__image {
    position: relative;
    height: 15rem;
    display: block;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-aqua-blue-dark, .45),
      rgba($color-aqua-blue-light, .45)
    ),
        url(@/assets/img/hero.jpg)
        ;
    background-size: cover;
    background-position: center center;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  &__heading {
    font-size: 1.5rem;
    color: $color-white;
    padding: 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    position: absolute;
    bottom: 2rem;
    right: .5rem;
    text-align: right;
    text-shadow: 1px 1px 3px rgba($color-black, 0.4);
  }
  &__body {
    display: block;
    padding: 1.5rem;
    width: 95%;
    margin: 0 auto;
    color: $color-black;
    font-size: 1.5rem;

  }
  &__footer {
    display: block;
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-aqua-blue-dark, .45),
      rgba($color-aqua-blue-light, .45)
    );
    content: '';
    padding-bottom: 1.4rem;
    &--text {
      padding: 1rem;
      text-align: center;
      font-weight: 600;
      text-shadow: 1px 1px 3px rgba($color-black, 0.4);

    }

  }

}

// PORTFOLIO STYLES
.portfolio {
  // display: block;
  position: relative;
  margin: 0 auto;
  background-color: $color-gray-2;
  padding: 2rem;
  background-image: linear-gradient(to bottom, rgba($color-aqua-blue-dark, .6), rgba($color-aqua-blue, .6));
  background-size: cover;
  background-position: center center;
  min-height: 95rem;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 100%);
  @include respond(tab-land){
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  }
  margin-top: 10rem;
  padding-bottom: 20rem;



  &__group {
    position: relative;
    padding-top: 15rem;
    min-height: 20rem;

  }
  &__header {
    width: 85%;
    margin: 0 auto;
    padding: 2rem;
    // background-color: rgba($color-white, .3);
    // padding: 2rem;
    border-radius: 1rem;
  }
  &--text {
    color: $color-black;
    font-size: $default-font;

  }
}







// GRID LAYOUTS
.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
    @include respond(phone) {
      margin-bottom: $gutter-vertical-sm;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^='col-'] {
    // selects all "col-" variales in page | * contains, $ ends with
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal-sm;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-sm;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal-sm}) / 4);
  }
  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }
  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
    );
  }
}


// CARD STYLES
.card {
  // functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  color: $color-black;


  //front side styling
  &__side {
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-orange-dark,
          $color-orange-light
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          // $color-light-green,
          // $color-dark-green
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          // $color-third-light,
          // $color-third-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-orange-light,
          $color-orange-dark
        ),
        url(@/assets/img/hero.jpg)
        ;
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          // $color-light-green,
          // $color-dark-green
        ),
        // url(../img/nat-6.jpg)
        ;
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          // $color-third-light,
          // $color-third-dark
        ),
        // url(../img/nat-7.jpg)
        ;
    }
  }

  &__heading {
    font-size: 1.9rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 4rem;
    right: 1rem;
    text-align: center;
    width: 70%;
    line-height: 3.5rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-orange, 0.85),
        rgba($color-orange-light, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(green, 0.85),
        rgba(lightgreen, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(green, 0.85),
        rgba(lightgreen, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-2;
        }
      }
    }
    & p{
      font-size: $default-font;
      line-height: 2.5rem;

    }
  }

  // BACKSIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }
  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  // Large media query to change complete card on touch devices

  @include respond(tab-port) {
    // functionality
    height: auto;
    border-radius: 0.5rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    //front side styling
    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
    &__details {
      padding: 0 1rem;
    }

    // BACKSIDE STYLING
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}


.contact-me {
  
  padding: 10rem 0;
  position: relative;
  display: block;

  &__body {
    font-size: $default-font;

  }

  &__form {
    width: 100%;
    display: block;
  }

}


// FORM STYLINGS
.form-group{
  width: 100%;
  display: block;
  // padding: 2rem;
}

.form-control {
  width: 100%;
  height: 4rem;
  padding: 1rem 2.5rem;
  background-image: linear-gradient(to bottom, rgba($color-white, .3) 5%, transparent);
  background-color: rgba($color-aqua-blue, .7);
  color: $color-white;
  font-size: 2rem;
  font-weight: 600;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: .2rem 1.5rem 3rem rgba($color-black, 0.3);
  
  &:focus {
    outline: inset $color-orange-dark 3px;
  }
  &::placeholder {
    color: $color-white;
    opacity: .45;
    text-transform: uppercase;
  }
  &-text {
    width: 100%;
    height: 18rem;
    padding: 1rem 2.5rem;
    background-image: linear-gradient(to bottom, rgba($color-white, .3) 5%, transparent);
    background-color: rgba($color-aqua-blue, .7);
    color: $color-white;
    font-size: 2rem;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: .2rem 1.5rem 3rem rgba($color-black, 0.3);

    &:focus {
      outline: inset $color-orange-dark 3px;
    }
    &::placeholder {
      color: $color-white;
      opacity: .45;
      text-transform: uppercase;
    }


  }
}
.form-label {
  width: 100%;
  display: block;
  padding: 1rem 0;
  color: $color-white;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;

}





.grow {
  display: inline-block;
  transition: all .3s;
  animation: dance 2s infinite;
  &:hover {
    animation: none;
  }
}




/*

  ANIMATIONS

*/

@keyframes dance {
  0% {
    transform: skew(0);
  }
  25% {
    transform: skewX(5deg) scale(1.03);
  }
  50% {
    transform: skewX(0deg) scale(1);
  }
  100% {
    transform: skewX(-5deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-150%) scale(.3);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

// Vue Animations?

.slide-fade-enter-active {
  transition: all 1.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 1.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-100%) scale(0.2);
  opacity: 0;
}


.fade-scale-enter-active{
  transition: all 1.3s ease-out;
}
.fade-scale-leave-active {
  transition: all 1.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-scale-enter-from,
.fade-scale-leave-to {

  transform: scale(0);
  opacity: 0;

}